ion-view(view-title='Game')
  ion-content
    #game-view
      .row
        .col.col-80.col-offset-10
          img(src='./img/placeholder.jpg')
      .row
        button.button.button-large.button-energized Human
        button.button.button-large.button-balanced Robot
