ion-view(view-title='Game')
  ion-content
    #game-view
      h1 Bot or Not?
      .container(ng-show='game.show == $index' ng-repeat='image in game.images')
        .row
          .col.col-80.col-offset-10
            img(src='{{image.url}}')
        .row
          button.button.button-large.button-energized(ng-click='human($index)') Human
          button.button.button-large.button-balanced(ng-click='robot($index)') Robot
      
      include tab-game-modal
