ion-view#results-view(view-title='Results')
  ion-content
    .row
      h1 Message {{message}}
    .row
      h2 You scored {{score}} points!!
    .col.col-80.col-offset-10
      button.btn.btn-info(ng-click='startOver()') Play again
